.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 0px auto;
}

.header-menu{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.header-menu a{
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-size: 1.125rem;
  padding: 10px 10px;
  display: block;
}

@media (max-width: 850px){
  .header{
    flex-direction: column;
    gap: 10px;
  }

  .header-menu a{
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
  }

  .header h2{
    display: inline;
    width: 400px;
    margin-bottom: 40px;
  }
}